.pageContainer {
  max-width: 1280px;
  margin: 0 auto;
  padding: 120px 24px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
  z-index: 1;
}

@media (max-width: 768px) {
  .pageContainer {
    padding: 100px 14px 0;
    gap: 14px;
  }
}
